/*---------------------------------------------
  Image
  ---------------------------------------------*/
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*---------------------------------------------
  Headline
  ---------------------------------------------*/
h1 {
    font-size: 1.8em;
    margin: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.4em;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin: 2px;
    padding-top: 15px;
    padding-bottom: 5px;
}


/*---------------------------------------------
  Table
  ---------------------------------------------*/
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #808080;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td.fixedwidth {
    width: 200px;
}


/*---------------------------------------------
  Footer
  ---------------------------------------------*/
footer {
  border-top: solid 0.05em;
  padding-top: 25px;
  bottom: 0;
  left: 0;
  right: 0;
}
