.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: justify;
}
.textmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: justify;
	font-style: italic;
}
.headline1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
}
.headline2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	font-variant: small-caps;
}
.headline3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	font-variant: small-caps;
}
.headline4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	font-variant: normal;
}
.site {
	color: white;
	background-color: black;
}
a:hover {
	background-color: #FB9B05;
}
a:link {
	color: #FBF8F8;
}
a:visited {
	color: white;
}